@charset "utf-8";
/* CSS Document */


div.fsFileUploadContainer {
    padding: 6px;
    text-align: center;
    width: 180px;
}
input.fsFilePreview {
    max-height: 170px;
    max-width: 170px;
}
header, nav, article, footer, address {
    display: block;
}
.fsBody #fsTopLogo .reportAbuse {
    text-align: center;
}
.fsBody #fsTopLogo .reportAbuse a {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    color: #666666;
    height: 16px;
}
.fsBody .warningNoJS {
    background-color: #FFFFFF;
    border: 1px solid #FF0000;
    color: #FF0000;
    padding: 20px;
}
#fsTopLogo {
    display: none;
    margin: 0;
    position: absolute;
    right: 9%;
    top: 0;
}
#fsTopLogo a {
    background: url("../../images/3/formstackLogo.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 50px;
    width: 150px;
}
#fsTopLogo a span {
    display: none;
}
.fsBody .fsPage {
    /*min-width: 400px;*/
}
.fsEmbed .fsPage {
    min-width: inherit;
}
.fsBody .fsForm {
    /*display: table;
    margin: 18px auto;*/
}
.fsEmbed .fsForm {
    display: inherit;
}
.fsborderradius .fsBody .fsForm, .fsborderradius .fsBody .fsSectionHeader {
    border-radius: 4px;
}
.fsboxshadow .fsBody .fsForm {
    border: 0 none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 -2px 0 rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}
.fsBody .fsForm .fsTable {
    border: 0 none;
    margin: 9px auto;
    padding: 0 0 4px;
    text-align: left;
    width: 100%;
}
.fsborderradius .fsBody .fsSectionHeader {
    margin: 10px;
}
.fsBody .fsSectionHeader {
    clear: left;
    padding: 10px 15px 15px;
}
.fsBody .fsForm .fsSectionHeading {
    font-size: 34px;
    font-weight: bold;
    line-height: 36px;
}
.fsBody .fsRowBody {
    /*padding: 10px 15px;*/
}
.fsBody .fsHidden {
    display: none;
    margin: 0;
    padding: 0;
}
.fsBody .fsHiddenPage {
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
}
.fsHiddenByFieldSetting {
    display: none;
}
.fsForm fieldset, .fsForm fieldset legend {
    border: 0 none;
    margin: 0;
    padding: 0;
}
legend {
    white-space: normal;
}
div.fsSignature {
    border: 10px solid #EFEFEF;
    border-radius: 14px;
    margin-top: 10px;
}
a.fsSignatureClear {
    font-size: 10px;
}
.fsForm.fsMaxCol1 {
    /*width: 700px;*/
}
.fsForm.fsMaxCol2 {
    width: 800px;
}
.fsForm.fsMaxCol3 {
    width: 900px;
}
.fsForm.fsMaxCol4 {
    width: 1100px;
}
.fsBody .fsFieldAddress {
    display: block;
}
.fsBody .fsFieldAddress2 {
    margin-bottom: 5px;
}
.fsBody div.fsFieldZip {
    width: 14%;
}
.fsBody .fsFieldRow {
    clear: left;
}
.fsBody .fs2Col {
    min-width: 600px;
}
.fsBody .fs3Col {
    min-width: 900px;
}
.fsBody .fs4Col {
    min-width: 1100px;
}
.fs2Col .fsFieldCell {
    float: left;
    width: 45%;
}
.fs3Col .fsFieldCell {
    float: left;
    width: 30%;
}
.fs4Col .fsFieldCell {
    float: left;
    width: 22%;
}
.fsFirst.fsLast.fsFieldCell {
    float: none;
    width: auto;
}
.fsBody .fsLabel, .fsBody label {
    /*display: block;
    font-weight: bold;
    line-height: 19px;*/
}
.fsBody .fsLabelHorizontal > label, .fsBody .fsLabelHorizontal > legend, .fsBody .fsLabelHorizontal > span.fsLabel {
    float: left;
    margin-right: 10px;
    width: 100px;
}
.fsFieldHorizontal {
    float: left;
}
.fsBody .fsSubField {
    /*float: left;
    margin-right: 5px;*/
}
.fsBody .fsSupporting {
    display: block;
    float: none;
    font-size: 12px;
}
.fsBody .fsCallout {
    position: absolute;
    width: 360px;
    z-index: 5;
}
.fsBody .fsCalloutTop {
    background: url("../../images/3/calloutTop.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    padding-top: 21px;
}
.fsBody .fsCalloutBottom {
    background: url("../../images/3/calloutBottom.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    height: 15px;
}
.fsBody .fsCalloutBody {
    background: url("../../images/3/calloutBody.png") repeat-y scroll left center rgba(0, 0, 0, 0);
    color: #FFFFFF;
    padding: 3px 12px 4px 16px;
    text-shadow: 0 1px 1px #000000;
}
.fsBody .fsCalloutBody a {
    border-bottom: 1px dotted;
    color: #DDDDDD;
    text-decoration: none;
}
.fsBody .fsCalloutBody a:hover {
    color: #AAAAAA;
}
.fsBody .fsPasswordForm {
    padding-bottom: 15px;
    width: 400px;
}
.fsForm .fsSubmit {
    clear: left;
    /*margin-top: 10px;
    padding: 20px;*/
}
.fsborderradius .fsForm .fsSubmit {
    border-radius: 0 0 4px 4px;
}
.fsSubmit input.fsSubmitButton {
    /*clear: both;
    margin: 0 auto;
    padding: 3px;*/
}
.fsSubmit input.fsSubmitButton.nice:hover {
    opacity: 0.87;
}
.fsSubmit input.fsSubmitMultipage {
    clear: none;
    float: right;
}
#fsFooterImage {
    clear: both;
    padding-top: 20px;
}
.clear {
    clear: both;
}
.fsBody .showMobile {
    display: none;
}
div.fsError {
    background-color: #FFEEEE;
    border: 1px solid #FF0000;
    border-radius: 4px;
    clear: both;
    color: #000000;
    font-size: 14px;
    margin: 15px 10px 5px;
    padding: 10px;
    text-align: center;
}
#disabledError {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #EFEFEF;
    color: #656565;
    line-height: 18px;
    margin: 54px auto;
    padding: 36px;
    width: 300px;
}
.fsPasswordForm label {
    color: #656565;
    display: block;
    font-size: 13px;
}
.fsPasswordForm .fsRowBody input {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.fsPasswordForm td.fsRowBody {
    padding: 18px 0 24px;
}
#fsPasswordError {
    color: #D2010B;
    font-weight: bold;
    padding: 0;
    text-align: center;
}
.fsReadOnly {
    background-image: none;
}
#fsConfirmAd table {
    margin: 36px auto;
    width: 100%;
}
#fsConfirmAd h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 18px;
    text-align: center;
    text-shadow: 0 1px 0 #000000;
}
#fsConfirmAd li {
    margin-bottom: 18px;
}
#fsConfirmAd img {
    min-width: 151px;
}
#fsConfirmAd img, #fsConfirmAd ul {
    margin: 18px;
}
#fsLearnMore {
    background: url("../../images/3/buttonBG.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    margin: 18px auto;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 155px;
}
.fsFieldRow input[type="text"], .fsFieldRow input[type="email"], .fsFieldRow input[type="number"], .fsFieldRow input[type="tel"], .fsForm textarea {
    /*max-width: 95%;
    padding: 4px;*/
}
.fsReadOnly input[type="text"], .fsReadOnly input[type="email"], .fsReadOnly input[type="number"], .fsReadOnly input[type="tel"], .fsReadOnly textarea {
    background-image: none;
    border: 0 none;
}
.fsForm input.fsField[type="text"]:focus, .fsForm input.fsField[type="email"]:focus, .fsForm input.fsField[type="number"]:focus, .fsForm input.fsField[type="tel"]:focus, .fsForm input.fsField[type="file"]:focus, .fsForm textarea.fsField:focus {
}
.fsForm .fsReadOnly input.fsField[type="text"]:focus, .fsForm .fsReadOnly input.fsField[type="number"]:focus, .fsForm .fsReadOnly input.fsField[type="email"]:focus, .fsForm .fsReadOnly input.fsField[type="file"]:focus, .fsForm .fsReadOnly input.fsField[type="tel"]:focus, .fsForm .fsReadOnly textarea.fsField:focus {
    border: 0 none;
}
.fsFieldRow input[type="radio"], .fsFieldRow input[type="checkbox"] {
    float: left;
    margin: 3px 7px 0 0;
    padding: 0;
    position: relative;
    vertical-align: bottom;
}
.fsFieldRow input.vertical[type="radio"], .fsFieldRow input.vertical[type="checkbox"] {
    clear: left;
    float: left;
    height: 13px;
    margin: 0 7px 0 0;
    padding: 0;
    position: relative;
    top: 3px;
    vertical-align: bottom;
    width: 13px;
}
.fsOptionLabel.vertical {
    clear: left;
}
.fsBody .fsLabelHorizontal .fieldset-content label {
    width: 250px;
}
.fsBody .fsLabelHoriztonal .fieldset-content .clear label {
    width: 100px;
}
label.fsOptionLabel {
    font-weight: normal;
    line-height: 20px;
}
.fsOptionLabel.horizontal {
    float: left;
    margin-right: 20px;
}
.fsLabelVertical .fsSupporting {
    clear: left;
}
.fsSupporting {
    max-width: 500px;
}
.fsForm select {
    font-size: 15px;
    line-height: 18px;
}
.fsRequiredMarker {
    color: #BA0000;
    float: none;
    font-size: 16px;
    font-weight: bold;
    padding-left: 2px;
}
.fsSupporting.fsRequiredLabel span {
    font-size: inherit;
    height: inherit;
}
.hidden {
    height: 0.1em;
    left: -999em;
    overflow: hidden;
    position: absolute;
    width: 0.1em;
}
.fsPagination {
    margin: 25px 0;
    text-align: center;
}
.fsPagination .fsNextButton {
    float: right;
}
.fsPagination .fsPreviousButton {
    float: left;
}
.fsPagination input, .fsPagination button {
    /*font-size: 16px;*/
}
.fsForm .fsLabel {
    width: 100%;
}
.fsValidationError input, .fsValidationError select, .fsValidationError textarea {
    background-color: #FFEEEE;
	border:solid 1px #FF0000;
}
.fsValidationError .fsLabel {
    color: #BA0000;
}
.fsCounter {
    color: #CCCCCC;
    font-size: 18px;
    position: absolute;
    text-align: right;
}
.fsCaptcha {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #777777;
    margin: 0 auto 30px;
    padding: 5px;
    text-align: center;
    width: 205px;
}
.fsCaptcha {
    border: 1px solid #333333;
    padding: 3px;
    text-align: center;
}
.captchaAudioLink img, .captchaReloadLink img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
}
.captchaEntry {
    margin-top: 5px;
}
.captchaError label {
    color: #FF0000;
    font-weight: bold;
}
.captchaError .captchaEntry {
    background-color: #FFCCCC;
}
.recaptchatable img:hover {
    box-shadow: 0 0 0 1px #FF0000;
}
div.fsProgress {
    margin: 9px auto;
    width: 100px;
}
div.fsProgressBarContainer {
    height: 10px;
    margin: 1px;
    position: relative;
    text-align: left;
    width: 96%;
}
div.fsProgressBar {
    height: 10px;
    width: 0;
}
div.fsProgressText {
    line-height: 10px;
    margin-top: -10px;
    padding-bottom: 2px;
    text-align: center;
    width: 96%;
    z-index: 10;
}
div.fsSaveIncomplete {
    background-color: #CCCCCC;
    box-shadow: 0 0 3px 1px #999999 inset;
    clear: left;
    margin-bottom: -10px;
    padding: 4px 20px 8px;
    text-align: center;
}
.fsSaveIncomplete a {
    color: #444444;
    font-size: 13px;
}
.fsSaveIncomplete a:visited {
    color: #656565;
}
.fsSaveIncomplete a:hover {
    color: #000000;
}
#fsSubmissionCheckmark {
    background: url("../../images/3/confirmationCheckmark.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 68px;
    width: 75px;
}
.fsBlankSection {
    display: none;
}
.fsMatrix {
    border-collapse: collapse;
    font-size: 11px;
    margin: 6px 0;
    width: 100%;
}
.fsMatrix th, .fsMatrix td {
    font-weight: normal;
    padding: 4px 0;
    text-align: center;
}
.fsMatrix th.fsMatrixLabel {
    padding-right: 8px;
    text-align: left;
}
.fsMatrixCol1, .fsMatrixCol2 {
    font-weight: normal;
    padding: 4px 0;
    text-align: center;
    width: 15%;
}
.fsMatrixCol1 input[type="radio"], .fsMatrixCol1 input[type="checkbox"], .fsMatrixCol2 input[type="radio"], .fsMatrixCol2 input[type="checkbox"] {
    float: none;
}
.fsCurrency {
    color: #555555;
    font-size: 16px;
}
.fsSliderBg {
    background: url("../../images/3/slider-bg.gif") no-repeat scroll 5px 0 rgba(0, 0, 0, 0);
    float: left;
    height: 28px;
    position: relative;
    width: 108px;
}
.fsSliderDiv {
    float: left;
    height: 28px;
    margin-top: 9px;
    position: relative;
    width: 108px;
}
.fsSliderBg .fsSliderThumb {
    cursor: default;
    position: absolute;
    top: 4px;
}
div.fsSliderValue {
    float: left;
    margin-left: 15px;
    padding: 5px;
}
input.fsFormatCreditCard {
    margin-right: 10px;
}
img.fsCreditCardLogo {
    border: 1px solid #777777;
    vertical-align: top;
}
.discountcodeMsg {
    display: block;
    font-size: x-small;
    font-style: italic;
}
#recaptcha_area {
    margin-left: auto;
    margin-right: auto;
}
#mobile-alert p {
    text-align: center;
    width: 100%;
}
#mobile-alert input[type="submit"] {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border: 0 none;
    color: #FF0000;
    cursor: pointer;
    text-decoration: underline;
}
span.fsSlim {
    display: none;
}
span.fsFull {
    display: inherit;
}
.fsNextButton span.fsFull:after {
    content: " »";
}
.fsPreviousButton span.fsFull:before {
    content: "« ";
}
.fsMatrixColCount1 {
    width: 100%;
}
.fsMatrixColCount2 {
    width: 50%;
}
.fsMatrixColCount3 {
    width: 33%;
}
.fsMatrixColCount4 {
    width: 25%;
}
.fsMatrixColCount5 {
    width: 20%;
}
.fsMatrixColCount6 {
    width: 16%;
}
.fsMatrixColCount7 {
    width: 14%;
}
.fsMatrixColCount8 {
    width: 12.5%;
}
.fsMatrixColCount9 {
    width: 11%;
}
.fsMatrixColCount10 {
    width: 10%;
}
.fsMatrixColCount11 {
    width: 9%;
}
.fsMatrixColCount12 {
    width: 8%;
}
.fsMatrixColCount13 {
    width: 7.5%;
}
.fsMatrixColCount14 {
    width: 7%;
}
.fsMatrixColCount15 {
    width: 6.5%;
}
.fsFieldCell.fsSpan100 {
    width: 100%;
}
.fsFieldCell.fsSpan75 {
    width: 72%;
}
.fsFieldCell.fsSpan66 {
    width: 63%;
}
.fsFieldCell.fsSpan50 {
    width: 45%;
}
.fsFieldCell.fsSpan33 {
    width: 30%;
}
.fsFieldCell.fsSpan25 {
    width: 22%;
}

